/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles or utilities*/
body {
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
}

/* Top Banner Section */
.container{
    display: flex;
    width: 80%;
    height: 470px;
    margin: 3% 0 5% 0;
background-color: #161616;
border-radius: 30px;
align-items: center;
padding: 30px 30px 0 30px;
gap: 30px;
}
.about-site{
    color: #FFFFFF;
    width: 50%;
   height: 80%;
   padding: 0 0 0 30px;
}
.about-site h1{
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
font-size: 50px;
}
.about-site p{
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    }

.about-btn{
    margin: 10px 0 20px 0;
  width: 180px;
  height: 60px;
    background: #DD0000;
    border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}    
.about-btn a{
    font-weight: 400;
font-size: 20px;
color: #FFFFFF;
text-decoration: none;
}

.about-btn fa-greater-than{
color: #FFFFFF;
}
.about-pic {
    width: 50%;
    height: 100%;
  
}
.about-pic img{
    width: 100%;
    height: 100%;
}
/* Image Shaking Animation */
.about-pic img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* Middle Section */
.middle{
display: flex;
    width: 85%;
    height: fit-content;
    margin: 3% 0 3% 0;
background-color: #FFFFFF;
border-radius: 30px;
padding: 30px 30px 0 30px;
gap: 24px;
}
.updates{
    width: 25%;
    border: 1px solid rgb(243, 233, 233);
    background-color: #161616;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-btn{
    margin: 20px 0 20px 0;
  width: 180px;
  height: 60px;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
}  
#all-groups{
    line-height: 60px;
    text-align: center;
}  
#blogs{
    line-height: 60px;
    text-align: center;
    background-color: #DD0000;
}  
#blogs a{
    color: #FFFFFF;
}
.update-btn a{
    font-weight: 400;
font-size: 20px;
color: black;
text-decoration: none;
}
#upcoming-matches:hover{
    background-color: #DD0000;
}
#all-groups:hover{
    background-color: #DD0000;
}
#blogs:hover{
    background-color: #DD0000;
}
.transfers{
    width: 75%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px; 
}
.transfer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(243, 233, 233);
    border-radius: 15px;
}
.transfer .thumbnail img {
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px; 
}

.transfer h4{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 0 0 0 15px;
    width: 33%;
}
.transfer-title{
    font-size: 20px;
    margin: 0 5px 0 15px;
}

.transfer-icon{
    display: flex;
    margin: 0 0 15px 15px;
    gap: 30px;
}
.transfer-btn{
    margin-bottom: 10%;
    width: 180px;
    height: 50px;
      background: #DD0000;
      border-radius: 5px;
      font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  visibility: hidden;
  }
  

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    gap: 30px;
}


hr{
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
 
   
}
.terms{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 0 0 0;
    }
.terms a{
        text-decoration: none;
        color: #2EC4B6;
        font-size: small;
    }    

.social-links{
display: flex;
gap: 30px;
justify-content: center;
margin: 0 0 0 0;
}

.social-links a{
    text-decoration: none;
    font-size: 2rem;
    color: #2EC4B6;
    margin: 0 0 15px 0;
}

/* Media Queries */
 /* Mobile */
 @media only screen and (max-width:570px){

    .container
    {
     width: 80%;
     flex-direction: column;
     justify-content: center;
    align-items: center;
    height: fit-content;
  gap: 0;
    padding-top: 15px;
   
    }
    .about-site{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: small;
    padding: 0;
    }
    .about-site h1{
        font-size: x-large;
        padding-bottom: 0;
        padding: 10px 0 10px 0;
    }
    .about-site p{
        font-size: smaller;
        padding-bottom: 20px;
    }
    .about-btn {
margin: auto;
width: 60%;
height: fit-content;
    }
        
    .about-pic{
        width: 100%;
        height: 50%;
        margin: auto;
       padding-bottom: 0;    
    }
    .about-pic img{
        margin: 0;
        padding: 0;
        height: fit-content;
        width: 100%;
    }
    
    .middle{
        flex-direction: column;
        margin: 0 0 30px 0;
        padding: 0;
    }
    .updates{
        margin: auto;
        background: none;
        border: none;
      
    }
    .update-btn{
        height: auto;
        border: 1px solid rgb(231, 222, 222);
        border-radius: 15px;
        margin: 10px;
    }
    .transfers{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    footer{
        
   bottom:0;
   width:100%;
   height: auto;
   padding: 0 0 0 0;
   margin: 0;
   gap: 0;
    }
    footer h2{
        margin: 10px 0 10px 0;
    }
    .terms{
        flex-direction: column;
        margin: 20px 0 40px 0;
    }
    .social-links{
        font-size: smaller;
    }

 }

 /* Tablet */
 @media only screen and (min-width:571px) and (max-width:992px){
  
   
.about-site{
    padding: 0 0 0 0;
}   

.about-site h1{
    font-size: 29px;
    padding: 0 0 20px 0;
}
.about-site p{
    font-size: medium;
    text-align: justify;
    padding-bottom: 20px;
}
.about-btn {

width: 70%;
height: 60px;
}
        .middle{
            flex-direction: column;
            margin: 0 0 30px 0;
            padding: 0;
            align-items: center;
        }
        .updates{
            flex-direction: row;
         width: 100%;
         gap: 30px;
            background: none;
            border: none;
        }
        .update-btn{
           
            height: fit-content;
            border: 1px solid rgb(231, 222, 222);
            border-radius: 15px;
            
        }
        .transfers{
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
        .transfer:nth-child(9){
            display: none;
        }
        .transfer-btn{
            visibility: visible;
        }
    }